<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZWGtf9q22mfotLNznKMtTQmjXh6ZdfOU</string>
	<key>GCM_SENDER_ID</key>
	<string>425748257105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tourguideapp</string>
	<key>PROJECT_ID</key>
	<string>tour-guide-app-50140</string>
	<key>STORAGE_BUCKET</key>
	<string>tour-guide-app-50140.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425748257105:ios:f186a85775be5741801b70</string>
</dict>
</plist>